<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New Blog</title>
</head>
<body>
    <h1> this is a heading</h1>
    <form action="/addblog" method="POST">
        <input type="title" name="title" placeholder="Enter title"> <br>
        <textarea name="description" id=""></textarea>  <br>
        <input type="text" name="image" placeholder="Enter image url">   <br>
        <input type="text" name="author" placeholder="Enter author">   <br>
        <input type="text" name="category" placeholder="Enter category">   <br>
        <button type="submit">Add Blog</button>
    </form>
    
</body>
</html>